.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #9000FF;
    letter-spacing: 1px;
    position: relative;
}

.hero h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #9000FF;
    margin: 10px auto 0 auto;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
/* Responsive para móviles */
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2.2em;
    }

    .hero p {
        font-size: 1em;
    }

    .projects, .project-card, .content {
        padding: 20px 10px;
    }

    .project-card {
        margin-bottom: 20px;
    }

    footer {
        padding: 20px 10px;
    }

    .btn {
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }
}

